# Docker MySQL 생성용 환경변수 ---
# 루트 권한 비밀번호
MYSQL_ROOT_PASSWORD=
# 사용할 DB 이름
MYSQL_DATABASE=ticket_defender
# 생성할 DB 유저 이름
MYSQL_USER=
# 생성할 DB 유저 비밀번호
MYSQL_PASSWORD=

# Spring Boot 연동용 환경변수
# 로컬 포트 3307 기준
DB_URL=jdbc:mysql://localhost:3307/ticket_defender?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
# 주의: 아래 두 값은 반드시 위의 MYSQL_USER, MYSQL_PASSWORD와 동일해야 합니다.
DB_USERNAME=
DB_PASSWORD=